# Entornos virtuales
.venv/
venv/
env/

# Cache de Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Archivos de entorno (variables sensibles)
.env
.env.local

# IDE/Editores
.vscode/
.idea/
*.swp
*.swo